@import "tailwindcss";

@custom-variant dark (&:where(.dark, .dark *));

@theme {
  --color-creme-white: #f5f5f5;
  --color-light-black: #1c1c1c;
  --color-footer-black: #171717;
  --color-nav-black: #282828;
  --fontt-size-normal: 20px;
}

:root {
  --background: var(--color-creme-white);
  --foreground: var(--color-light-black);
}

.dark {
  --background: var(--color-light-black);
  --foreground: var(--color-creme-white);
}

body {
  background: var(--background);
  color: var(--foreground);
  /*font-family: var(--font-poppins), Arial, Helvetica, sans-serif;*/
  transition: background-color 0.3s ease, color 0.3s ease;
}
